body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
a {
    text-decoration: none;
    color: #2E2F42;
}
ul {
    list-style-type: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #4D5AE5;
    }
.logo span{
    color: #2E2F42;
}
.navbar li {
    font-weight: 500;
}
.navbar-link:active,
.navbar-link:hover,
.navbar-link:focus {
    color: #404BBF;
}
.feedback-box {
    font-style: normal;
}
.feedback-box .mail {
    color: #434455;
}
.feedback-box .mail:hover,
.feedback-box .mail:focus {
    color: #404BBF;
} 
.header-container {
    background-color: #2E2F42;
    color: #FFF;
    text-align: center;
}
.header-container .header-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
}
.header-container .btn {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.64px;
    cursor: pointer;
}
.header-container .btn:focus {
    background-color: #404BBF;
}
.container-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}
.title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.text {
    color: #434455;
}
.team-container {
    background-color: #F4F4FD;
}
.team-container .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.4px;
}
.team-container .item {
    background-color: #FFF;
}
.team-container .text {
    font-size: 16px;
    color: #434455;
}
.portfolio-container .text {
    color: #434455;
}
.footer {
    background-color: #2E2F42;
    color: #FFF;
}
.footer .logo-footer {
    color: #f4f4fd;
}
.footer .text {
    color: #F4F4FD;
}



